# Ambiente e Python
.venv/
__pycache__/
*.pyc

# Dados Pesados (Arquivos de Polissonografia)
data/
*.edf
*.rec
*.dat
*.hea

# Artigos relevantes para o projeto
Artigos/
*.pdf

# Outros
.ipynb_checkpoints/
.vscode/